export ILA_FIELDS=country,city,country_name,eu,area
export ILA_ADD_COUNTRY_INFO=true
export ILA_LANGUAGE=en
export ORIGIN=http://localhost:5173/
#export GOTIFY_URL=http://localhost:9000/
#export GOTIFY_KEY=AUbm49YSvqXqplr

